<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Loris coverage results</title>
    <link rel="stylesheet" href="css/bootstrap-1.4.0.min.css">
    <link rel="stylesheet" href="css/prettify.css">
    <script type="text/javascript" src="js/code-prettify/prettify.js"></script>
    <script type="text/javascript" src="js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-tabs.js"></script>
  </head>

  <body>
    <div class='container'>
      <h1>Loris results</h1>
      <p> These are results of the coverage tests done by the Loris tool:</p>

      <div>
        <% @data[:collection].each do |result| %>
          <h2>Touched by <%= result[:test_groups].size %> test cases:</h2>
          <ul class='tabs'>
            <li class="active"><a href="#code-1">Code</a></li>
            <li><a href="#tests-1">Tests</a></li>
          </ul>

          <div class='tab-content'>
            <div class='active' id='code-1'>
              <% result[:files].each do |file| %>
                <h3><%= file[:name] %></h3>
                <pre class='prettyprint'><%= file[:code].join("") %></pre>
              <% end %>
            </div>
            <div id='tests-1'>
              <% result[:test_groups].each do |group, tests| %>
                <h3><%= group %></h3>
                <ul>
                  <% tests.each do |test| %>
                    <li><%= test %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </body>
  <script>
    $(function() {
      prettyPrint();
      $('.tabs').tabs();
    });
  </script>
</html>
